[Unit]
Description = Socket for the GOLDi Initialization Service

[Socket]
ListenStream = @GOLDiInitializationService

[Install]
WantedBy = sockets.target
